{% extends "base.html" %}

{% block head_content %}
  <title> File Form </title>
{% endblock%}

{% block container %}
  <div class="row justify-content-center mt-3">
    <div class="col-auto">
      <h1>File Form</h1>
    </div>
  </div>

  <div class="m-5">

    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ error|escape }}
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ error|escape }}
        </div>
    {% endfor %}
    {% endif %}

    <form action="{% url 'upload_home' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3 row">
        <div class="col-3"> 
          <label for="formFile" class="form-label">Only [.pdf,.txt,.doc]</label>
        </div>
        <div class="col-9">
          <input class="form-control" type="file" id="formFile" name="file">
        </div>
      </div>
      
      <div class="mb-3 row">
        <div class="offset-10 col-2">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </div>
      
    </form>
  </div>   

  <div class="row justify-content-center">
    <div class="col-auto">
      <h3>Files</h3>
    </div>
  </div>
  
  <table class="table">
    {% if files %}
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Size</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
          <tr>
            <td>{{ file.name }}</td>
            <td>{{ file.size|filesizeformat }}</td>
            <td><a href="{{ file.file.url }}" >Download</a></td>
          </tr>   
        {% endfor %}
      </tbody>
    {% else %}
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Size</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    {% endif %}
  </table>

{% endblock %}
